@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*{
    border:1px solid white;
} */

.active{
    @apply border-red-700 border-b-2;
}

.active-white{
    @apply  border-zinc-200 border-b-2;
}

.btn-primary{
    @apply bg-red-700 font-semibold text-white rounded-md p-3;
}
.btn-secondary{
    @apply bg-zinc-600 font-semibold text-white rounded-md p-3;
}
::selection{
    color: white;
    background: #b91c1c;
}
/* :focus{
   border-color: #b91c1c;
} */